<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Lịch sử mua hàng - Laptopshop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content name="keywords">
    <meta content name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../../../../resources/client/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="../../../../resources/client/lib/owlcarousel/owl.carousel.min.js" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../../../resources/client/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../../../resources/client/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <div class="container-fluid fixed-top shadow" style="top: 0px;">
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="http://localhost:8080/" class="navbar-brand">
                    <h1 class="text-primary display-6">Laptopshop</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white justify-content-between mx-5" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="http://localhost:8080/" class="nav-item nav-link">Trang Chủ</a>
                        <a href="http://localhost:8080/products" class="nav-item nav-link">Sản Phẩm</a>

                    </div>
                    <div class="d-flex m-3 me-0">

                        <a href="http://localhost:8080/cart" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span
                                class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                                style="top: -5px; left: 15px; height: 20px; min-width: 20px;" id="sunCart">
                                2
                            </span>
                        </a>
                        <div class="dropdown my-auto">
                            <a href="http://localhost:8080/order-history#" class="dropdown" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user fa-2x"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end p-4" aria-labelledby="dropdownMenuLink">
                                <li class="d-flex align-items-center flex-column" style="min-width: 300px;">
                                    <img style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden;"
                                        src="../../../../../convert/Trang chủ - Laptopshop_files/saved_resource">
                                    <div class="text-center my-3">
                                        SOS Nu
                                    </div>
                                </li>

                                <li><a class="dropdown-item" href="http://localhost:8080/order-history#">Quản
                                        lý tài khoản</a></li>

                                <li><a class="dropdown-item" href="http://localhost:8080/order-history">Lịch
                                        sử mua hàng</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form method="post" action="http://localhost:8080/logout">
                                        <input type="hidden" name="_csrf"
                                            value="5UeYaFbC9Kx9RrZ1dpiwl47SGuWmesrFLQKkuRD3sJnYNw8IgCb7CmP1kchQI4NAErWE9rrmN93FTK7oGzKSiHPO067rADxu">
                                        <button class="dropdown-item">Đăng
                                            xuất</button>

                                    </form>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="mb-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="http://localhost:8080/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lịch sử mua hàng</li>
                    </ol>
                </nav>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Giá cả</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td colspan="2">Order Id = 19</td>
                            <td colspan="1">
                                161,740,000
                                đ
                            </td>
                            <td colspan="2"></td>
                            <td colspan="1">
                                PENDING
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711078452562-dell-01.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/2" target="_blank">
                                        Laptop Dell Inspiron 15
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    15,490,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="4">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    61,960,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711080386941-lg-01.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/6" target="_blank">
                                        Laptop LG Gram Style
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    31,490,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="1">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    31,490,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711080787179-apple-02.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/7" target="_blank">
                                        MacBook Air 13
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    24,990,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="1">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    24,990,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711079496409-asus-02.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/4" target="_blank">
                                        Asus K501UX
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    11,900,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="2">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    23,800,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711079073759-lenovo-01.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/3" target="_blank">
                                        Lenovo IdeaPad Gaming 3
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    19,500,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="1">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    19,500,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <td colspan="2">Order Id = 20</td>
                            <td colspan="1">
                                17,490,000
                                đ
                            </td>
                            <td colspan="2"></td>
                            <td colspan="1">
                                PENDING
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711078092373-asus-01.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/1" target="_blank">
                                        Laptop Asus TUF Gaming
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    17,490,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="1">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    17,490,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <td colspan="2">Order Id = 21</td>
                            <td colspan="1">
                                17,490,000
                                đ
                            </td>
                            <td colspan="2"></td>
                            <td colspan="1">
                                PENDING
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711078092373-asus-01.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/1" target="_blank">
                                        Laptop Asus TUF Gaming
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    17,490,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="1">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    17,490,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <td colspan="2">Order Id = 22</td>
                            <td colspan="1">
                                17,490,000
                                đ
                            </td>
                            <td colspan="2"></td>
                            <td colspan="1">
                                PENDING
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../../convert/Trang chủ - Laptopshop_files/1711078092373-asus-01.png"
                                        class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt>
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="http://localhost:8080/product/1" target="_blank">
                                        Laptop Asus TUF Gaming
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">
                                    17,490,000
                                    đ
                                </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                        value="1">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" data-cart-detail-id>
                                    17,490,000 đ
                                </p>
                            </td>
                            <td></td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Cart Page End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="https://hoidanit.vn/" target="_blank">
                            <h1 class="text-primary mb-0">Laptopshop</h1>
                            <p class="text-secondary mb-0">@hoidanit</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Chất lượng là ưu tiên
                            hàng đầu</h4>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Shop Info</h4>
                        <a class="btn-link" href="http://localhost:8080/order-history#">About
                            Us</a>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Account</h4>
                        <a class="btn-link" href="http://localhost:8080/order-history#">My
                            Account</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Contact</h4>
                        <p>Author:Hỏi Dân IT</p>
                        <p>Website: <a href="https://hoidanit.vn/" target="_blank"> hoidanit.vn</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="http://localhost:8080/order-history#"
        class="btn btn-primary border-3 border-primary rounded-circle back-to-top" style="display: none;"><i
            class="fa fa-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/jquery.min.js.download"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/bootstrap.bundle.min.js.download"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/easing.min.js.download"></script>
    <script src="../../../../resources/client/lib/waypoints/waypoints.min.js"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/lightbox.min.js.download"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/owl.carousel.min.js.download"></script>

    <!-- Template Javascript -->
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/main.js.download"></script>

    <div id="lightboxOverlay" tabindex="-1" class="lightboxOverlay" style="display: none;"></div>
    <div id="lightbox" tabindex="-1" class="lightbox" style="display: none;">
        <div class="lb-outerContainer">
            <div class="lb-container"><img class="lb-image"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt>
                <div class="lb-nav"><a class="lb-prev" role="button" tabindex="0" aria-label="Previous image"
                        href="http://localhost:8080/order-history"></a><a class="lb-next" role="button" tabindex="0"
                        aria-label="Next image" href="http://localhost:8080/order-history"></a></div>
                <div class="lb-loader"><a class="lb-cancel" role="button" tabindex="0"></a></div>
            </div>
        </div>
        <div class="lb-dataContainer">
            <div class="lb-data">
                <div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div>
                <div class="lb-closeContainer"><a class="lb-close" role="button" tabindex="0"></a></div>
            </div>
        </div>
    </div>

</body>

</html>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <div class="container-fluid fixed-top shadow" style="top: 0px;">
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="http://localhost:8080/" class="navbar-brand">
                    <h1 class="text-primary display-6">Laptopshop</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white justify-content-between mx-5" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="http://localhost:8080/" class="nav-item nav-link">Trang Chủ</a>
                        <a href="http://localhost:8080/products" class="nav-item nav-link">Sản Phẩm</a>

                    </div>
                    <div class="d-flex m-3 me-0">

                        <a href="http://localhost:8080/cart" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span
                                class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                                style="top: -5px; left: 15px; height: 20px; min-width: 20px;" id="sunCart">
                                2
                            </span>
                        </a>
                        <div class="dropdown my-auto">
                            <a href="http://localhost:8080/order-history#" class="dropdown" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user fa-2x"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end p-4" aria-labelledby="dropdownMenuLink">
                                <li class="d-flex align-items-center flex-column" style="min-width: 300px;">
                                    <img style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden;"
                                        src="../../../../../convert/Trang chủ - Laptopshop_files/saved_resource">
                                    <div class="text-center my-3">
                                        SOS Nu
                                    </div>
                                </li>

                                <li><a class="dropdown-item" href="http://localhost:8080/order-history#">Quản
                                        lý tài khoản</a></li>

                                <li><a class="dropdown-item" href="http://localhost:8080/order-history">Lịch
                                        sử mua hàng</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form method="post" action="http://localhost:8080/logout">
                                        <input type="hidden" name="_csrf"
                                            value="5UeYaFbC9Kx9RrZ1dpiwl47SGuWmesrFLQKkuRD3sJnYNw8IgCb7CmP1kchQI4NAErWE9rrmN93FTK7oGzKSiHPO067rADxu">
                                        <button class="dropdown-item">Đăng
                                            xuất</button>

                                    </form>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->







    <!-- JavaScript Libraries -->
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/jquery.min.js.download"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/bootstrap.bundle.min.js.download"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/easing.min.js.download"></script>
    <script src="../../../../resources/client/lib/waypoints/waypoints.min.js"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/lightbox.min.js.download"></script>
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/owl.carousel.min.js.download"></script>

    <!-- Template Javascript -->
    <script src="../../../../../convert/Trang chủ - Laptopshop_files/main.js.download"></script>



</body>